*,
p {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    /* overflow: hidden; */
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(110, 134, 241);
    border-radius: 10px;
    width: 0px;
}

nav {
    width: 100%;
    height: 7%;
    /* background: green; */
    color: white;
    /* font-family: 'Roboto', sans-serif; */
}

.nav_content {
    width: 100%;
    height: 100%;
    background: #3650D0;
    display: flex;
    /* border-bottom: 2px solid rgb(206, 206, 230); */
    /* box-shadow: 5px 0px 10px 0px black, 5px 0px 10px 0px black; */
    z-index: 5px;
}

.nav_left {
    width: 15%;
    height: 100%;
    /* background: blue; */
    display: flex;
}

.nav_left>i {
    width: 30%;
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.1px solid rgba(83, 97, 223, 0.678);
}

.nav_menu {
    width: 70%;
    height: 100%;
    display: flex;
    color: white;
    /* align-items: center; */
}

.nav_left>.nav_menu>i {
    width: 40%;
    height: 100%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_titles {
    width: 60%;
    height: 100%;
    /* background: rgb(128, 0, 128); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 100;
    justify-content: center;
    line-height: 15px;
    border-right: 0.1px solid rgba(65, 80, 218, 0.678);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav_titles>span {
    font-size: 15px;
}

.nav_center {
    width: 70%;
    height: 100%;
    /* background: rgb(0, 255, 76); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* .nav_center>span {
    color: white;
} */

.nav_right {
    width: 15%;
    height: 100%;
    /* background: rgb(255, 0, 170); */
    display: flex;
}

.nav_right>.nav_right1 {
    width: 70%;
    height: 100%;
    display: flex;
    /* background: green; */
    align-items: center;
    justify-content: space-around;
    border-left: 0.1px solid rgba(83, 97, 223, 0.678);
}

.nav_right>.nav_right1>.user {
    height: 100%;
    width: 50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.nav_right>.nav_right1>.heart {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    border-left: 0.1px solid rgba(61, 77, 218, 0.678);
}

.nav_right>.nav_right2 {
    width: 30%;
    height: 100%;
    /* background: rgb(0, 128, 122); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    border-left: 0.1px solid rgba(83, 97, 223, 0.678);
}

.nav_right>.nav_right2>p {
    position: absolute;
    color: white;
    top: 1px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    text-align: center;
    background: rgb(12, 155, 190);
    left: 40px;
    font-size: 10px;
}

.main_container {
    height: 126rem;
    width: 100%;
    background: blue;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container_up {
    /* position: absolute; */
    /* margin-top: 1px; */
    width: 100%;
    height: 15rem;
    background: #3650D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* justify-content: center; */
    background-image: linear-gradient(to top, #3650D0, #3650D0, #3650D0, #3650D0, rgb(3, 55, 187));
}

.main_container_up>.search {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 28%;
    height: 45px;
    background: white;
    border-radius: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.main_container_up>.search>.fa-magnifying-glass {
    padding: 13px 9px;
    opacity: 0.3;
    /* background: rgb(131, 85, 85); */
}

.main_container_up>.search>input {
    width: 85%;
    height: 39px;
    /* margin-top: -80px; */
    background: none;
    border: none;
    outline: none;
    /* background: #000; */
}

.main_container_up>.search>input:focus::placeholder {
    opacity: 0;
}

.main_container_up>span {
    margin-top: 30px;
    font-size: 30px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.main_container_up>.main_catalog {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: rgb(157, 162, 243);
    font-family: 'Roboto', sans-serif;
}

.main_container_down {
    /* position: absolute; */
    background: rgb(213, 214, 213);
    width: 100%;
    height: 75rem;
    top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.main_content1 {
    position: absolute;
    width: 90.3%;
    height: 84.4rem;
    /* background: red; */
    top: 180px;
}

.main_content {
    height: 100%;
    display: grid;
    grid-template-rows: 300px 500px;
}

.main_content>.main_content_up {
    /* background: red; */
    display: grid;
    grid-template-columns: 67% 33%;
}

.main_content>.main_content_up>.content_left {
    /* background: yellow; */
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #2D89D4, #2D89D4, #2D89D4, #67B4E7, #67B4E7, #2D89D4, #2D89D4);
}

.main_content>.main_content_up>.content_left>.content_left_items {
    width: 92%;
    height: 100%;
    /* background: violet; */
    display: grid;
    grid-template-columns: 210px 600px;
    /* overflow: hidden; */
}

.content_left_items>.item_left :nth-child(1) {
    width: 48px;
    height: 20px;
    text-align: center;
    margin-top: 40px;
    background: #000;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.content_left_items>.item_left :nth-child(2) {
    margin-top: 40px;
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.content_left_items>.item_left :nth-child(3) {
    margin-top: 20px;
    font-size: 29px;
    color: white;
    font-family: 'League Gothic', sans-serif;
}

.content_left_items>.item_left :nth-child(4) {
    margin-top: 60px;
    font-size: 15px;
    color: white;
    background: #4697DC;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 75%;
    height: 10%;
}

.content_left>.content_left_items>.item_right>img {
    margin-left: -20px;
}

.main_content>.main_content_up>.content_right {
    background-image: linear-gradient(to right, #5744DC, #5744DC, #5744DC, #5744DC, #5744DC, #5744DC, #8979EA, #5744DC, #5744DC);
    /* width: 95%;
    height: 100%; */
    display: grid;
    grid-template-columns: 210px 210px;
}

.main_content_up>.content_right>.item_sales :nth-child(1) {
    margin-left: 40px;
    width: 48px;
    height: 20px;
    text-align: center;
    margin-top: 40px;
    background: #000;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.main_content_up>.content_right>.item_sales :nth-child(2) {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 12px;
    color: white;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.main_content_up>.content_right>.item_sales :nth-child(3) {
    margin-left: 40px;
    margin-top: 20px;
    font-size: 29px;
    color: white;
    font-family: 'League Gothic', sans-serif;
}

.main_content_up>.content_right>.item_sales :nth-child(4) {
    margin-top: 60px;
    margin-left: 40px;
    font-size: 15px;
    color: white;
    background: #7A6AE4;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 75%;
    height: 10%
}

.main_content_up>.content_right>.item_sales2>img {
    margin-left: -40px;
    margin-top: 20px;
}

.main_content>.main_content_down {
    height: 65.7rem;
    background: rgb(255, 254, 254);
    display: grid;
    grid-template-columns: 25% 75%;
}

.main_content>.main_content_down>.content_down1 {
    /* background: red; */
    border-right: 1px solid#F7F7F7;
    display: grid;
    grid-template-rows: 50px 270px 130px 150px 130px 270px 50px;
    /* grid-gap: 10px; */
}

.main_content_down>.content_down1>.content_down1_rows1 {
    border-bottom: 1px solid #F7F7F7;
    display: grid;
    grid-template-columns: 250px 54px;
    /* place-items: center; */
}

.content_down1>.content_down1_rows1>.rows1_content {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}

.content_down1>.content_down1_rows1>.rows1_content1 {
    color: #3650D0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #F7F7F7;
}

.main_content_down>.content_down1>.content_down1_rows2 {
    border-bottom: 1px solid #F7F7F7;
    /* background: rgb(233, 67, 67); */
}

.content_down1>.content_down1_rows2>button {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 50px 200px 50px;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.content_down1>.content_down1_rows2>button>p,
.content_down1_rows6>button>p {
    margin-left: -150px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 600;
}


/* .content_down1_rows2>ul {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-rows: 22px;
    cursor: pointer;
    visibility: visible;
} */

.toggle.active {
    animation-name: openAnimation;
    animation-duration: 1s;
    /* animation-iteration-count: 2; */
    animation-direction: alternate;
    visibility: visible;
}

.new {
    visibility: visible;
}

.toggle.inactive {
    animation-name: closeAnimation;
    animation-duration: 298s;
    /* animation-iteration-count: 2; */
    animation-direction: alternate;
    /* visibility: hidden; */
}


/* 
@keyframes openAnimation {
    0% {
        height: 80%;
    }
    100% {
        height: 0%;
    }
} */

@keyframes closeAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        /* visibility: hidden; */
    }
}

.show {
    visibility: visible;
}

.content_down1_rows2>ul>li {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 50px;
    margin-top: 5px;
}

.content_down1_rows2>ul>li>p {
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.content_down1_rows2>ul>li>p:hover {
    color: #3650D0;
}

.caret_rotate {
    transform: rotate(180deg);
}

.content_down1_rows2>button>.fa-angle-down {
    transition: 0.9s;
    /* background-color: yellow; */
}


/* .transform_icon {
    transition: 0.5s;
    transform: rotate(180deg);
} */

.content_down1_rows2>ul>li>span,
.content_down1_rows2>button>.fa-angle-down {
    font-size: 12px;
    color: gray;
}


/* .content_down1_rows2>button:focus+ul {
    visibility: visible;
} */

.main_content_down>.content_down1>.content_down1_rows3 {
    border-bottom: 1px solid #F7F7F7;
    /* background: rgb(67, 233, 205); */
}

.Wrapper {
    position: relative;
    width: 300px;
    background: white;
    height: 20%;
}

.Container {
    position: relative;
    width: 100%;
    height: 20px;
    /* border: 1px solid rgb(202, 198, 198); */
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 60%;
    height: 5px;
    /* background-color: blue; */
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 1px;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.7em;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 60px;
    margin-top: -9px;
    pointer-events: auto;
}

input[type=]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: blueviolet;
    pointer-events: auto;
}

input[type=]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: blueviolet;
    pointer-events: auto;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 1px solid #3264fe;
}

.value {
    /* background: blue; */
    width: 50%;
    padding: 20px 0px;
    position: relative;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.value>.number1 {
    width: 35%;
    padding: 10px 0px;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
}

.value>.number2 {
    width: 35%;
    padding: 10px 0px;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
}

.main_content_down>.content_down1>.content_down1_rows4 {
    border-bottom: 1px solid#F7F7F7;
    /* background: rgb(175, 233, 67); */
}

.main_content_down>.content_down1>.content_down1_rows5 {
    border-bottom: 1px solid#F7F7F7;
    cursor: pointer;
    /* background: rgb(42, 184, 7); */
}

.content_down1>.content_down1_rows5>button {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 50px 200px 50px;
    align-items: center;
    border: none;
    background: none;
}

.content_down1>.content_down1_rows5>button>.last_icon {
    /* background: green; */
    transition: 0.9s;
}

.content_down1>.content_down1_rows5>button>p {
    margin-left: -150px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
}

.content_down1>.content_down1_rows5>.color_picker {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #000; */
}

.content_down1>.content_down1_rows5>.color_picker>.colorInput {
    width: 80%;
    height: 50%;
    /* background: rgb(243, 167, 167); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_down1>.content_down1_rows5>.color_picker>.colorInput2 {
    width: 80%;
    height: 50%;
    /* background: rgb(243, 167, 167); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.styleinput {
    width: 25px;
    height: 25px;
    background: rgb(1, 33, 94);
    border-radius: 50%;
}

.colorPaleteContainer {
    height: 100px;
    display: grid;
    place-items: center;
}

.colorsContent {
    height: 100px;
    width: 210px;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(5, 1fr);
    gap: 5px;
    margin-top: 10px;
    overflow: scroll;
    x-scroll: hidden;
}

.colorsContent::-webkit-scrollbar {
    display: none;
}

.colorsContent>i {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid rgba(134, 134, 134, 0.541);
    position: relative;
}

.colorsContent>i:hover {
    border: 1px solid rgba(61, 61, 61, 0.541);
}

.colorsContent>i.active {
    border: 2px solid rgb(83, 97, 83);
}

.colorsContent>i.checked::before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    background: #000;
    border: 1px solid white;
    border-radius: 50%;
    top: -2px;
    left: -3px;
}

.colorPickker>label {
    font-size: 1.5em;
    color: linear-gradient(green, dodgerblue, pink, white);
    color: palevioletred;
}

.colorPickker>label>i {}

.colorPickker>input {
    display: none;
}

.main_content_down>.content_down1>.content_down1_rows6 {
    border-bottom: 1px solid#F7F7F7;
    /* background: rgb(5, 18, 97); */
}

.content_down1>.content_down1_rows6>button {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 50px 200px 50px;
    align-items: center;
    border: none;
    background: none;
}

.content_down1>.content_down1_rows6>button>.last_icon {
    /* background: green; */
    transition: 0.9s;
}

.content_down1>.content_down1_rows6>button>p {
    margin-left: -150px;
}

.content_down1_rows6>ul {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-rows: 31px 31px 31px 31px 31px 31px;
    /* background: rgb(50, 121, 175); */
    cursor: pointer;
    place-items: center;
}

.content_down1_rows6>ul>li {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 42px 42px 42px 42px 42px;
    margin-top: 10px;
    /* background: blue; */
    text-align: center;
    align-items: center;
}

.content_down1_rows6>ul>li>p {
    /* margin-left: 50px; */
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid #F7F7F7;
    font-size: 12px;
}

.content_down1_rows6>ul>li>p:hover {
    background: rgb(45, 45, 219);
}

.main_content_down>.content_down1>.content_down1_rows7 {
    border-bottom: 1px solid #F7F7F7;
    /* background: rgb(81, 161, 6); */
}

.main_content>.main_content_down>.content_down2 {
    /* background: rgb(0, 255, 234); */
    border-bottom: 1px solid #F7F7F7;
    border: 1px solid #F7F7F7;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50px 237.5px 237px 237px 237px 50px;
}

.main_content_down>.content_down2>.item {
    border: 1px solid#F7F7F7;
    display: flex;
    flex-direction: column;
    position: relative;
    /* visibility: hidden; */
    /* align-items: center; */
    /* justify-content: center; */
}

.main_content_down>.content_down2>.item:hover .item_hover {
    /* background: #000; */
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.item_hover {
    width: 100%;
    height: 237.5px;
    background: rgba(17, 49, 153, 0.9);
    position: absolute;
    visibility: visible;
    display: grid;
    grid-template-rows: 30% 40% 30%;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.item_hover>.item_hover1 {
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* width: 90%;
    height: 10%; */
}

.item_hover>.item_hover1>p {
    background: #000;
    margin-top: -20px;
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 90px;
}

.item_hover>.item_hover1>span {
    font-size: 13.5px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 18px;
}

.item_hover>.item_hover2 {
    /* background: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item_hover>.item_hover2>button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 30px;
}

.item_hover>.item_hover2>.hover_icons {
    width: 25%;
    height: 100%;
    display: flex;
    /* background-color: rgb(145, 131, 131); */
    justify-content: space-around;
    align-items: center;
}

.item_hover>.item_hover2>.hover_icons>i {
    height: 30px;
    width: 30px;
    background: #6078e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #F7F7F7;
    box-shadow: 1px 1px 10px 3px rgb(74, 74, 236);
}

.item_hover>.item_hover3 {
    /* background: rgb(162, 206, 59); */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'League Gothic', sans-serif;
    /* width: 90%;
    height: 10%; */
    font-size: 22px;
}

.item_hover>.item_hover3>p {
    margin-left: -36px;
}

.item_hover>.item_hover3>.span {
    width: 77%;
    margin-top: 5px;
    /* background-color: #2D89D4; */
    display: flex;
    font-size: 19px;
}

.main_content_down>.content_down2>.item1 {
    display: grid;
    grid-template-columns: 230px 74px;
    border: 1px solid #F7F7F7;
}

.content_down2>.item1>.price_range {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /* background: #000; */
}

.content_down2>.item1>.price_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_content_down>.content_down2>.item2 {
    display: grid;
    grid-template-columns: 80px 80px 142px;
}

.content_down2>.item2>.item2_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_down2>.item2>.item2_menu3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(139, 137, 137);
}

.content_down2>.item2>.item2_menu4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_down2>.item2>.item2_menu4>:nth-child(2) {
    border-radius: 50%;
    background: rgb(37, 37, 240);
    color: white;
    font-size: 13px;
    padding: 2px 4px;
}

.main_content_down>.content_down2>.item>p {
    margin-left: 30px;
    font-size: 20px;
    margin-top: 20px;
    color: #2c2b2b;
    font-family: 'League Gothic', sans-serif;
}

.main_content_down>.content_down2>.item>span {
    margin-left: 30px;
    color: #405ED9;
    font-size: 14px;
    /* margin-top: 20px; */
    font-family: 'Roboto', sans-serif;
}

.main_content_down>.content_down2>.item>img {
    margin-left: 40px;
}

.main_content_down>.content_down2>.item4 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: gray;
    /* background: #000; */
    width: 30px;
    border-right: 1px solid #F7F7F7;
}

.content_down2>.item5 {
    display: grid;
    grid-template-columns: 61px 61px 61px 61px 61px;
}

.content_down2>.item5>.pages {
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #F7F7F7;
}

.content_down2>.item5>.pages:hover {
    background: blue;
}

.main_content_down>.content_down2>.item6 {
    display: grid;
    grid-template-columns: 250px 52.8px;
    border: 1px solid #F7F7F7;
}

.content_down2>.item6>.icon10 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
    color: gray;
    /* background: #000; */
    border-left: 1px solid #F7F7F7;
}

.footer {
    height: 19rem;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    background-image: url('/Assets/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg');
}

.footer1 {
    height: 100%;
    width: 90%;
    /* border: 1px solid white; */
    /* background: rgb(168, 71, 71); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer1>h3 {
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 40px;
}

.footer1>p {
    margin-top: 5px;
    color: gray;
}

.footer1>.hello {
    margin-top: 40px;
    width: 40%;
    height: 15%;
    border-radius: 25px;
    outline: none;
    border: none;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1>.hello>input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
}

.hello>input:focus::placeholder {
    opacity: 0;
}

.last_footer {
    width: 100%;
    height: 17rem;
    background: #000;
    display: grid;
    /* display: flex;
    dis
    justify-content: center;
    align-items: center; */
    place-items: center;
}

.last_footer1 {
    /* background: green; */
    width: 90%;
    height: 100%;
    display: grid;
    place-items: center;
}

.lastfooter2 {
    width: 100%;
    height: 100%;
    display: grid;
    /* place-items: center; */
    /* background: red; */
    grid-template-columns: 35% 15% 15% 35%;
}

.last_footer1>.lastfooter2>.footer1_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    /* background: rgb(193, 206, 193); */
}

.last_footer1>.lastfooter2>.footer1_content>span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* margin-top: -40px; */
    color: white;
}

.last_footer1>.lastfooter2>.footer1_content>p {
    text-align: justify;
    margin-top: 20px;
    color: rgb(138, 136, 136);
    opacity: 0.75;
}

.footer1_content>.LAST_ITEM {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: -30px;
    color: rgb(138, 136, 136);
    width: 80%;
    opacity: 0.75;
    /* color: white; */
    /* background: blue; */
}

.last_footer1>.lastfooter2>.footer1_content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background: blue; */
    font-family: 'Roboto', sans-serif;
}

.last_footer1>.lastfooter2>.footer1_content2>span {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: -25px;
    color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: 25px;
}

.last_footer1>.lastfooter2>.footer1_content2>:nth-child(2) {
    margin-top: 20px;
}

.last_footer1>.lastfooter2>.footer1_content2>p {
    margin-bottom: 8px;
    font-size: 15px;
    opacity: 0.75;
    color: rgb(138, 136, 136);
}

.last_footer1>.lastfooter2>.footer1_content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    /* background: orange; */
}

.last_icons {
    width: 70%;
    /* background: rgb(6, 33, 150); */
    display: flex;
    justify-content: space-around;
    margin-top: -29px;
}

.footer1_content3>p {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(138, 136, 136);
}

.footer1_content3>.visa {
    margin-top: 10px;
    display: flex;
    width: 25%;
    /* background: rgb(18, 48, 104); */
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: -6;
}

@media screen and ( min-width: 1681px) {
    /* .nav_left {
        background: #000;
    } */
    .main_content1 {
        width: 70%;
    }
    .main_content {
        width: 100%;
        background: #000;
    }
    .nav_right>.nav_right2>p {
        position: absolute;
        color: white;
        top: 10px;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        text-align: center;
        background: rgb(12, 155, 190);
        left: 47px;
        font-size: 10px;
    }
    .brown {
        background: rgb(150, 48, 48);
    }
    .btn {
        width: 50px;
        height: 40px;
        background: #000;
    }
    .last_footer1 {
        /* background: green; */
        width: 71%;
        height: 100%;
        display: grid;
        place-items: center;
    }
}